	body {
		color: Black;
	 	background-color: white;
	 }

	 p {	 
  color: black;
  font-size: 86px;
  font-family: ComicSansMS, cursive, sans-serif;
  text-indent: 18px;
  text-shadow: 2px 2px lightgray;
	border: 18px solid black ;
}
		


	 title {
	 	color: black;
	 }

	 h1 {
	 	color: White;
	 	font-size: 72px;
	 	font-family: ComicSansMS, cursive,  sans-serif;
	 	background-color: Silver; 
	 	border-radius: 15px;
	 }

	 img {
	 	text-indent:100;
	 }
    
  
	